* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fed5e3;
  font-family: "STYuanti SC Light", "微软雅黑细体", "微软雅黑"
}

.center {
  text-align: center;
}

.red {
  color: #ff4379;
}

a:hover {
  text-decoration: none;
}

.pa {
  background-repeat: no-repeat;
  background-position: center top;
}

.p1 {
  height: 889px;
  background-image: url(../img/bg1.png)
}

.p2 {
  height: 1378px;
  background-image: url(../img/bg2.png)
}

.p3 {
  height: 1556px;
  background-image: url(../img/bg3.png)
}

.p4 {
  height: 665px;
  background-image: url(../img/bg4.png)
}

.p5 {
  height: 96px;
  background-image: url(../img/bg5.png)
}

.p6 {
  height: 432px;
  background-image: url(../img/p6.jpg)
}
