* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fed5e3;
  font-family: "STYuanti SC Light", "微软雅黑细体", "微软雅黑"
}

.center {
  text-align: center;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

.red {
  color: #ff4379;
}

.padding-y_10 {
  padding: 10px 0;
}

.header-bg {
  background-color: #FFF;
}

.header {
  position: relative;
}

.header span {
  height: 44px;
  line-height: 44px;
  display: inline-block;
}

.return-home {
  position: absolute;
  right: 10px;
}


/*a {
  text-decoration: none;
}*/

a:hover {
  text-decoration: none;
}

.pa {
  background-repeat: no-repeat;
  background-position: center top;
}

.p1 {
  height: 889px;
  background-image: url(../img/bg1.png)
}

.p2 {
  height: 1378px;
  background-image: url(../img/bg2.png)
}

.p3 {
  height: 1556px;
  background-image: url(../img/bg3.png)
}

.p4 {
  height: 665px;
  background-image: url(../img/bg4.png)
}

.p5 {
  height: 96px;
  background-image: url(../img/bg5.png)
}